extends layout

block content
    h1= title
    p Your Media Library

    #list
        each videoFile in videoFiles
            .listItem
                h3 #{videoFile.fileName}
                //img.thumbnail(src="#{videoFile.thumbnailPath}" alt="Thumbnail for #{videoFile.fileName}")
        //- TODO; refactor into a watch view
        //- video(controls)
        //-   source(src="#{videoFile.path}" type="video/#{videoFile.format}")
